
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    color: white;
    font-size: 36px;
    text-align: center;
}

.parallax-1 {
    background-image: url("image1.jpg");
}

.parallax-2 {
    background-image: url("image2.jpg");
}

.content {
    background-color: black;
    color: white;
    padding: 100px 20px;
    text-align: center;
    font-size: 24px;
}
