body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
}

button {
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
}
